<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssm.dufy.dao.IntakesumpMapper">
  <resultMap id="BaseResultMap" type="org.ssm.dufy.entity.Intakesump">
    <id column="CNW_CD" jdbcType="INTEGER" property="cnwCd" />
    <result column="NODE_CD" jdbcType="INTEGER" property="nodeCd" />
    <result column="CNW_NM" jdbcType="VARCHAR" property="cnwNm" />
    <result column="OBJ_CD" jdbcType="VARCHAR" property="objCd" />
    <result column="LGTD" jdbcType="DOUBLE" property="lgtd" />
    <result column="LTTD" jdbcType="DOUBLE" property="lttd" />
    <result column="Q" jdbcType="DOUBLE" property="q" />
    <result column="PIPE_SIZE" jdbcType="DOUBLE" property="pipeSize" />
    <result column="PIPE_C" jdbcType="INTEGER" property="pipeC" />
    <result column="MP" jdbcType="DOUBLE" property="mp" />
    <result column="SZFD" jdbcType="CHAR" property="szfd" />
    <result column="Z" jdbcType="DOUBLE" property="z" />
    <result column="NT" jdbcType="VARCHAR" property="nt" />
  </resultMap>
  <sql id="Base_Column_List">
    CNW_CD, NODE_CD, CNW_NM, OBJ_CD, LGTD, LTTD, Q, PIPE_SIZE, PIPE_C, MP, SZFD, Z, NT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prj_intakesump_b
    where CNW_CD = #{cnwCd,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prj_intakesump_b
    where CNW_CD = #{cnwCd,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ssm.dufy.entity.Intakesump">
    insert into prj_intakesump_b (CNW_CD, NODE_CD, CNW_NM, 
      OBJ_CD, LGTD, LTTD, Q, 
      PIPE_SIZE, PIPE_C, MP, 
      SZFD, Z, NT)
    values (#{cnwCd,jdbcType=INTEGER}, #{nodeCd,jdbcType=INTEGER}, #{cnwNm,jdbcType=VARCHAR}, 
      #{objCd,jdbcType=VARCHAR}, #{lgtd,jdbcType=DOUBLE}, #{lttd,jdbcType=DOUBLE}, #{q,jdbcType=DOUBLE}, 
      #{pipeSize,jdbcType=DOUBLE}, #{pipeC,jdbcType=INTEGER}, #{mp,jdbcType=DOUBLE}, 
      #{szfd,jdbcType=CHAR}, #{z,jdbcType=DOUBLE}, #{nt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.ssm.dufy.entity.Intakesump">
    insert into prj_intakesump_b
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cnwCd != null">
        CNW_CD,
      </if>
      <if test="nodeCd != null">
        NODE_CD,
      </if>
      <if test="cnwNm != null">
        CNW_NM,
      </if>
      <if test="objCd != null">
        OBJ_CD,
      </if>
      <if test="lgtd != null">
        LGTD,
      </if>
      <if test="lttd != null">
        LTTD,
      </if>
      <if test="q != null">
        Q,
      </if>
      <if test="pipeSize != null">
        PIPE_SIZE,
      </if>
      <if test="pipeC != null">
        PIPE_C,
      </if>
      <if test="mp != null">
        MP,
      </if>
      <if test="szfd != null">
        SZFD,
      </if>
      <if test="z != null">
        Z,
      </if>
      <if test="nt != null">
        NT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cnwCd != null">
        #{cnwCd,jdbcType=INTEGER},
      </if>
      <if test="nodeCd != null">
        #{nodeCd,jdbcType=INTEGER},
      </if>
      <if test="cnwNm != null">
        #{cnwNm,jdbcType=VARCHAR},
      </if>
      <if test="objCd != null">
        #{objCd,jdbcType=VARCHAR},
      </if>
      <if test="lgtd != null">
        #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="q != null">
        #{q,jdbcType=DOUBLE},
      </if>
      <if test="pipeSize != null">
        #{pipeSize,jdbcType=DOUBLE},
      </if>
      <if test="pipeC != null">
        #{pipeC,jdbcType=INTEGER},
      </if>
      <if test="mp != null">
        #{mp,jdbcType=DOUBLE},
      </if>
      <if test="szfd != null">
        #{szfd,jdbcType=CHAR},
      </if>
      <if test="z != null">
        #{z,jdbcType=DOUBLE},
      </if>
      <if test="nt != null">
        #{nt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ssm.dufy.entity.Intakesump">
    update prj_intakesump_b
    <set>
      <if test="nodeCd != null">
        NODE_CD = #{nodeCd,jdbcType=INTEGER},
      </if>
      <if test="cnwNm != null">
        CNW_NM = #{cnwNm,jdbcType=VARCHAR},
      </if>
      <if test="objCd != null">
        OBJ_CD = #{objCd,jdbcType=VARCHAR},
      </if>
      <if test="lgtd != null">
        LGTD = #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        LTTD = #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="q != null">
        Q = #{q,jdbcType=DOUBLE},
      </if>
      <if test="pipeSize != null">
        PIPE_SIZE = #{pipeSize,jdbcType=DOUBLE},
      </if>
      <if test="pipeC != null">
        PIPE_C = #{pipeC,jdbcType=INTEGER},
      </if>
      <if test="mp != null">
        MP = #{mp,jdbcType=DOUBLE},
      </if>
      <if test="szfd != null">
        SZFD = #{szfd,jdbcType=CHAR},
      </if>
      <if test="z != null">
        Z = #{z,jdbcType=DOUBLE},
      </if>
      <if test="nt != null">
        NT = #{nt,jdbcType=VARCHAR},
      </if>
    </set>
    where CNW_CD = #{cnwCd,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ssm.dufy.entity.Intakesump">
    update prj_intakesump_b
    set NODE_CD = #{nodeCd,jdbcType=INTEGER},
      CNW_NM = #{cnwNm,jdbcType=VARCHAR},
      OBJ_CD = #{objCd,jdbcType=VARCHAR},
      LGTD = #{lgtd,jdbcType=DOUBLE},
      LTTD = #{lttd,jdbcType=DOUBLE},
      Q = #{q,jdbcType=DOUBLE},
      PIPE_SIZE = #{pipeSize,jdbcType=DOUBLE},
      PIPE_C = #{pipeC,jdbcType=INTEGER},
      MP = #{mp,jdbcType=DOUBLE},
      SZFD = #{szfd,jdbcType=CHAR},
      Z = #{z,jdbcType=DOUBLE},
      NT = #{nt,jdbcType=VARCHAR}
    where CNW_CD = #{cnwCd,jdbcType=INTEGER}
  </update>
</mapper>