<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ssm.dufy.dao.NodeMapper">
  <resultMap id="BaseResultMap" type="org.ssm.dufy.entity.Node">
    <id column="NODE_CD" jdbcType="INTEGER" property="nodeCd" />
    <result column="NODE_NM" jdbcType="VARCHAR" property="nodeNm" />
    <result column="OBJ_CD" jdbcType="VARCHAR" property="objCd" />
    <result column="CNW_CD" jdbcType="INTEGER" property="cnwCd" />
    <result column="CNW_NM" jdbcType="VARCHAR" property="cnwNm" />
    <result column="HEIGHT" jdbcType="DOUBLE" property="height" />
    <result column="QHYL" jdbcType="DOUBLE" property="qhyl" />
    <result column="MP" jdbcType="DOUBLE" property="mp" />
    <result column="Q" jdbcType="DOUBLE" property="q" />
    <result column="SZFD" jdbcType="CHAR" property="szfd" />
    <result column="LGTD" jdbcType="DOUBLE" property="lgtd" />
    <result column="LTTD" jdbcType="DOUBLE" property="lttd" />
    <result column="RESULT_H" jdbcType="DOUBLE" property="resultH" />
    <result column="NT" jdbcType="VARCHAR" property="nt" />
  </resultMap>
  <sql id="Base_Column_List">
    NODE_CD, NODE_NM, OBJ_CD, CNW_CD, CNW_NM, HEIGHT, QHYL, MP, Q, SZFD, LGTD, LTTD, 
    RESULT_H, NT
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prj_node_b
    where NODE_CD = #{nodeCd,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from prj_node_b
    where NODE_CD = #{nodeCd,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ssm.dufy.entity.Node">
    insert into prj_node_b (NODE_CD, NODE_NM, OBJ_CD, 
      CNW_CD, CNW_NM, HEIGHT, 
      QHYL, MP, Q, SZFD, 
      LGTD, LTTD, RESULT_H, NT
      )
    values (#{nodeCd,jdbcType=INTEGER}, #{nodeNm,jdbcType=VARCHAR}, #{objCd,jdbcType=VARCHAR}, 
      #{cnwCd,jdbcType=INTEGER}, #{cnwNm,jdbcType=VARCHAR}, #{height,jdbcType=DOUBLE}, 
      #{qhyl,jdbcType=DOUBLE}, #{mp,jdbcType=DOUBLE}, #{q,jdbcType=DOUBLE}, #{szfd,jdbcType=CHAR}, 
      #{lgtd,jdbcType=DOUBLE}, #{lttd,jdbcType=DOUBLE}, #{resultH,jdbcType=DOUBLE}, #{nt,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ssm.dufy.entity.Node">
    insert into prj_node_b
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nodeCd != null">
        NODE_CD,
      </if>
      <if test="nodeNm != null">
        NODE_NM,
      </if>
      <if test="objCd != null">
        OBJ_CD,
      </if>
      <if test="cnwCd != null">
        CNW_CD,
      </if>
      <if test="cnwNm != null">
        CNW_NM,
      </if>
      <if test="height != null">
        HEIGHT,
      </if>
      <if test="qhyl != null">
        QHYL,
      </if>
      <if test="mp != null">
        MP,
      </if>
      <if test="q != null">
        Q,
      </if>
      <if test="szfd != null">
        SZFD,
      </if>
      <if test="lgtd != null">
        LGTD,
      </if>
      <if test="lttd != null">
        LTTD,
      </if>
      <if test="resultH != null">
        RESULT_H,
      </if>
      <if test="nt != null">
        NT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nodeCd != null">
        #{nodeCd,jdbcType=INTEGER},
      </if>
      <if test="nodeNm != null">
        #{nodeNm,jdbcType=VARCHAR},
      </if>
      <if test="objCd != null">
        #{objCd,jdbcType=VARCHAR},
      </if>
      <if test="cnwCd != null">
        #{cnwCd,jdbcType=INTEGER},
      </if>
      <if test="cnwNm != null">
        #{cnwNm,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        #{height,jdbcType=DOUBLE},
      </if>
      <if test="qhyl != null">
        #{qhyl,jdbcType=DOUBLE},
      </if>
      <if test="mp != null">
        #{mp,jdbcType=DOUBLE},
      </if>
      <if test="q != null">
        #{q,jdbcType=DOUBLE},
      </if>
      <if test="szfd != null">
        #{szfd,jdbcType=CHAR},
      </if>
      <if test="lgtd != null">
        #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="resultH != null">
        #{resultH,jdbcType=DOUBLE},
      </if>
      <if test="nt != null">
        #{nt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ssm.dufy.entity.Node">
    update prj_node_b
    <set>
      <if test="nodeNm != null">
        NODE_NM = #{nodeNm,jdbcType=VARCHAR},
      </if>
      <if test="objCd != null">
        OBJ_CD = #{objCd,jdbcType=VARCHAR},
      </if>
      <if test="cnwCd != null">
        CNW_CD = #{cnwCd,jdbcType=INTEGER},
      </if>
      <if test="cnwNm != null">
        CNW_NM = #{cnwNm,jdbcType=VARCHAR},
      </if>
      <if test="height != null">
        HEIGHT = #{height,jdbcType=DOUBLE},
      </if>
      <if test="qhyl != null">
        QHYL = #{qhyl,jdbcType=DOUBLE},
      </if>
      <if test="mp != null">
        MP = #{mp,jdbcType=DOUBLE},
      </if>
      <if test="q != null">
        Q = #{q,jdbcType=DOUBLE},
      </if>
      <if test="szfd != null">
        SZFD = #{szfd,jdbcType=CHAR},
      </if>
      <if test="lgtd != null">
        LGTD = #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        LTTD = #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="resultH != null">
        RESULT_H = #{resultH,jdbcType=DOUBLE},
      </if>
      <if test="nt != null">
        NT = #{nt,jdbcType=VARCHAR},
      </if>
    </set>
    where NODE_CD = #{nodeCd,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ssm.dufy.entity.Node">
    update prj_node_b
    set NODE_NM = #{nodeNm,jdbcType=VARCHAR},
      OBJ_CD = #{objCd,jdbcType=VARCHAR},
      CNW_CD = #{cnwCd,jdbcType=INTEGER},
      CNW_NM = #{cnwNm,jdbcType=VARCHAR},
      HEIGHT = #{height,jdbcType=DOUBLE},
      QHYL = #{qhyl,jdbcType=DOUBLE},
      MP = #{mp,jdbcType=DOUBLE},
      Q = #{q,jdbcType=DOUBLE},
      SZFD = #{szfd,jdbcType=CHAR},
      LGTD = #{lgtd,jdbcType=DOUBLE},
      LTTD = #{lttd,jdbcType=DOUBLE},
      RESULT_H = #{resultH,jdbcType=DOUBLE},
      NT = #{nt,jdbcType=VARCHAR}
    where NODE_CD = #{nodeCd,jdbcType=INTEGER}
  </update>
</mapper>