<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhwx.wms.dao.IntakesumpMapper">
  <resultMap id="BaseResultMap" type="com.zhwx.wms.entity.Intakesump">
    <id column="DEVICE_CODE" jdbcType="VARCHAR" property="deviceCode" />
    <result column="DEVICE_NAME" jdbcType="VARCHAR" property="deviceName" />
    <result column="BELONG_TO_PCODE" jdbcType="VARCHAR" property="belongToPcode" />
    <result column="LGTD" jdbcType="DOUBLE" property="lgtd" />
    <result column="LTTD" jdbcType="DOUBLE" property="lttd" />
    <result column="DESIGN_Q" jdbcType="DOUBLE" property="designQ" />
    <result column="INTAKESUMP_LEVEL" jdbcType="DOUBLE" property="intakesumpLevel" />
    <result column="PIPE_SIZE" jdbcType="DOUBLE" property="pipeSize" />
    <result column="PIPE_COUNT" jdbcType="INTEGER" property="pipeCount" />
    <result column="DESIGN_PRESSURE" jdbcType="DOUBLE" property="designPressure" />
    <result column="SECTION_IN" jdbcType="VARCHAR" property="sectionIn" />
    <result column="WATER_HEIGHT" jdbcType="DOUBLE" property="waterHeight" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    DEVICE_CODE, DEVICE_NAME, BELONG_TO_PCODE, LGTD, LTTD, DESIGN_Q, INTAKESUMP_LEVEL, 
    PIPE_SIZE, PIPE_COUNT, DESIGN_PRESSURE, SECTION_IN, WATER_HEIGHT, NOTE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prj_intakesump_b
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select * from prj_intakesump_b
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from prj_intakesump_b
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhwx.wms.entity.Intakesump">
    insert into prj_intakesump_b (DEVICE_CODE, DEVICE_NAME, BELONG_TO_PCODE, 
      LGTD, LTTD, DESIGN_Q, INTAKESUMP_LEVEL, 
      PIPE_SIZE, PIPE_COUNT, DESIGN_PRESSURE, 
      SECTION_IN, WATER_HEIGHT, NOTE
      )
    values (#{deviceCode,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{belongToPcode,jdbcType=VARCHAR}, 
      #{lgtd,jdbcType=DOUBLE}, #{lttd,jdbcType=DOUBLE}, #{designQ,jdbcType=DOUBLE}, #{intakesumpLevel,jdbcType=DOUBLE}, 
      #{pipeSize,jdbcType=DOUBLE}, #{pipeCount,jdbcType=INTEGER}, #{designPressure,jdbcType=DOUBLE}, 
      #{sectionIn,jdbcType=VARCHAR}, #{waterHeight,jdbcType=DOUBLE}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhwx.wms.entity.Intakesump">
    insert into prj_intakesump_b
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceCode != null">
        DEVICE_CODE,
      </if>
      <if test="deviceName != null">
        DEVICE_NAME,
      </if>
      <if test="belongToPcode != null">
        BELONG_TO_PCODE,
      </if>
      <if test="lgtd != null">
        LGTD,
      </if>
      <if test="lttd != null">
        LTTD,
      </if>
      <if test="designQ != null">
        DESIGN_Q,
      </if>
      <if test="intakesumpLevel != null">
        INTAKESUMP_LEVEL,
      </if>
      <if test="pipeSize != null">
        PIPE_SIZE,
      </if>
      <if test="pipeCount != null">
        PIPE_COUNT,
      </if>
      <if test="designPressure != null">
        DESIGN_PRESSURE,
      </if>
      <if test="sectionIn != null">
        SECTION_IN,
      </if>
      <if test="waterHeight != null">
        WATER_HEIGHT,
      </if>
      <if test="note != null">
        NOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceCode != null">
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="belongToPcode != null">
        #{belongToPcode,jdbcType=VARCHAR},
      </if>
      <if test="lgtd != null">
        #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="designQ != null">
        #{designQ,jdbcType=DOUBLE},
      </if>
      <if test="intakesumpLevel != null">
        #{intakesumpLevel,jdbcType=DOUBLE},
      </if>
      <if test="pipeSize != null">
        #{pipeSize,jdbcType=DOUBLE},
      </if>
      <if test="pipeCount != null">
        #{pipeCount,jdbcType=INTEGER},
      </if>
      <if test="designPressure != null">
        #{designPressure,jdbcType=DOUBLE},
      </if>
      <if test="sectionIn != null">
        #{sectionIn,jdbcType=VARCHAR},
      </if>
      <if test="waterHeight != null">
        #{waterHeight,jdbcType=DOUBLE},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhwx.wms.entity.Intakesump">
    update prj_intakesump_b
    <set>
      <if test="deviceName != null">
        DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="belongToPcode != null">
        BELONG_TO_PCODE = #{belongToPcode,jdbcType=VARCHAR},
      </if>
      <if test="lgtd != null">
        LGTD = #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        LTTD = #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="designQ != null">
        DESIGN_Q = #{designQ,jdbcType=DOUBLE},
      </if>
      <if test="intakesumpLevel != null">
        INTAKESUMP_LEVEL = #{intakesumpLevel,jdbcType=DOUBLE},
      </if>
      <if test="pipeSize != null">
        PIPE_SIZE = #{pipeSize,jdbcType=DOUBLE},
      </if>
      <if test="pipeCount != null">
        PIPE_COUNT = #{pipeCount,jdbcType=INTEGER},
      </if>
      <if test="designPressure != null">
        DESIGN_PRESSURE = #{designPressure,jdbcType=DOUBLE},
      </if>
      <if test="sectionIn != null">
        SECTION_IN = #{sectionIn,jdbcType=VARCHAR},
      </if>
      <if test="waterHeight != null">
        WATER_HEIGHT = #{waterHeight,jdbcType=DOUBLE},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhwx.wms.entity.Intakesump">
    update prj_intakesump_b
    set DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
      BELONG_TO_PCODE = #{belongToPcode,jdbcType=VARCHAR},
      LGTD = #{lgtd,jdbcType=DOUBLE},
      LTTD = #{lttd,jdbcType=DOUBLE},
      DESIGN_Q = #{designQ,jdbcType=DOUBLE},
      INTAKESUMP_LEVEL = #{intakesumpLevel,jdbcType=DOUBLE},
      PIPE_SIZE = #{pipeSize,jdbcType=DOUBLE},
      PIPE_COUNT = #{pipeCount,jdbcType=INTEGER},
      DESIGN_PRESSURE = #{designPressure,jdbcType=DOUBLE},
      SECTION_IN = #{sectionIn,jdbcType=VARCHAR},
      WATER_HEIGHT = #{waterHeight,jdbcType=DOUBLE},
      NOTE = #{note,jdbcType=VARCHAR}
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </update>
</mapper>