<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhwx.wms.dao.ValveMapper">
  <resultMap id="BaseResultMap" type="com.zhwx.wms.entity.Valve">
    <id column="DEVICE_CODE" jdbcType="VARCHAR" property="deviceCode" />
    <result column="DEVICE_NAME" jdbcType="VARCHAR" property="deviceName" />
    <result column="BELONG_TO_PCODE" jdbcType="VARCHAR" property="belongToPcode" />
    <result column="VAV_TYPE" jdbcType="VARCHAR" property="vavType" />
    <result column="IS_OPERATE" jdbcType="INTEGER" property="isOperate" />
    <result column="STAKE_MARK" jdbcType="DOUBLE" property="stakeMark" />
    <result column="VAV_WORK" jdbcType="VARCHAR" property="vavWork" />
    <result column="VAV_SEC_IN" jdbcType="VARCHAR" property="vavSecIn" />
    <result column="LGTD" jdbcType="DOUBLE" property="lgtd" />
    <result column="LTTD" jdbcType="DOUBLE" property="lttd" />
    <result column="VAV_SIZE" jdbcType="DOUBLE" property="vavSize" />
    <result column="PRESSURE_LEVEL" jdbcType="DOUBLE" property="pressureLevel" />
    <result column="START_CONDI" jdbcType="VARCHAR" property="startCondi" />
    <result column="MAX_DELPRE_START" jdbcType="DOUBLE" property="maxDelpreStart" />
    <result column="USER_TYPE" jdbcType="VARCHAR" property="userType" />
    <result column="INSTALL_HEIGHT" jdbcType="DOUBLE" property="installHeight" />
    <result column="INI_OPEN_LEVEL" jdbcType="DOUBLE" property="iniOpenLevel" />
    <result column="Q" jdbcType="DOUBLE" property="q" />
    <result column="DESIGN_PRESSURE" jdbcType="DOUBLE" property="designPressure" />
    <result column="VAV_OTHER_SIZE" jdbcType="DOUBLE" property="vavOtherSize" />
    <result column="INI_OPENLEVEL_MIN" jdbcType="DOUBLE" property="iniOpenlevelMin" />
    <result column="PRESSURE_WORK" jdbcType="VARCHAR" property="pressureWork" />
    <result column="PREW_MAX_DEL" jdbcType="DOUBLE" property="prewMaxDel" />
    <result column="NVAV_COUNT" jdbcType="INTEGER" property="nvavCount" />
    <result column="K_ALL_OPEN" jdbcType="DOUBLE" property="kAllOpen" />
    <result column="VAV_SIDE_S" jdbcType="DOUBLE" property="vavSideS" />
    <result column="NOTE" jdbcType="VARCHAR" property="note" />
  </resultMap>
  <sql id="Base_Column_List">
    DEVICE_CODE, DEVICE_NAME, BELONG_TO_PCODE, VAV_TYPE, IS_OPERATE, STAKE_MARK, VAV_WORK, 
    VAV_SEC_IN, LGTD, LTTD, VAV_SIZE, PRESSURE_LEVEL, START_CONDI, MAX_DELPRE_START, 
    USER_TYPE, INSTALL_HEIGHT, INI_OPEN_LEVEL, Q, DESIGN_PRESSURE, VAV_OTHER_SIZE, INI_OPENLEVEL_MIN, 
    PRESSURE_WORK, PREW_MAX_DEL, NVAV_COUNT, K_ALL_OPEN, VAV_SIDE_S, NOTE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from prj_valve_b
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </select>
  <select id="selectByType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from prj_valve_b
    where VAV_TYPE = #{vavType,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from prj_valve_b
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhwx.wms.entity.Valve">
    insert into prj_valve_b (DEVICE_CODE, DEVICE_NAME, BELONG_TO_PCODE, 
      VAV_TYPE, IS_OPERATE, STAKE_MARK, 
      VAV_WORK, VAV_SEC_IN, LGTD, 
      LTTD, VAV_SIZE, PRESSURE_LEVEL, 
      START_CONDI, MAX_DELPRE_START, USER_TYPE, 
      INSTALL_HEIGHT, INI_OPEN_LEVEL, Q, 
      DESIGN_PRESSURE, VAV_OTHER_SIZE, INI_OPENLEVEL_MIN, 
      PRESSURE_WORK, PREW_MAX_DEL, NVAV_COUNT, 
      K_ALL_OPEN, VAV_SIDE_S, NOTE
      )
    values (#{deviceCode,jdbcType=VARCHAR}, #{deviceName,jdbcType=VARCHAR}, #{belongToPcode,jdbcType=VARCHAR}, 
      #{vavType,jdbcType=VARCHAR}, #{isOperate,jdbcType=INTEGER}, #{stakeMark,jdbcType=DOUBLE}, 
      #{vavWork,jdbcType=VARCHAR}, #{vavSecIn,jdbcType=VARCHAR}, #{lgtd,jdbcType=DOUBLE}, 
      #{lttd,jdbcType=DOUBLE}, #{vavSize,jdbcType=DOUBLE}, #{pressureLevel,jdbcType=DOUBLE}, 
      #{startCondi,jdbcType=VARCHAR}, #{maxDelpreStart,jdbcType=DOUBLE}, #{userType,jdbcType=VARCHAR}, 
      #{installHeight,jdbcType=DOUBLE}, #{iniOpenLevel,jdbcType=DOUBLE}, #{q,jdbcType=DOUBLE}, 
      #{designPressure,jdbcType=DOUBLE}, #{vavOtherSize,jdbcType=DOUBLE}, #{iniOpenlevelMin,jdbcType=DOUBLE}, 
      #{pressureWork,jdbcType=VARCHAR}, #{prewMaxDel,jdbcType=DOUBLE}, #{nvavCount,jdbcType=INTEGER}, 
      #{kAllOpen,jdbcType=DOUBLE}, #{vavSideS,jdbcType=DOUBLE}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zhwx.wms.entity.Valve">
    insert into prj_valve_b
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deviceCode != null">
        DEVICE_CODE,
      </if>
      <if test="deviceName != null">
        DEVICE_NAME,
      </if>
      <if test="belongToPcode != null">
        BELONG_TO_PCODE,
      </if>
      <if test="vavType != null">
        VAV_TYPE,
      </if>
      <if test="isOperate != null">
        IS_OPERATE,
      </if>
      <if test="stakeMark != null">
        STAKE_MARK,
      </if>
      <if test="vavWork != null">
        VAV_WORK,
      </if>
      <if test="vavSecIn != null">
        VAV_SEC_IN,
      </if>
      <if test="lgtd != null">
        LGTD,
      </if>
      <if test="lttd != null">
        LTTD,
      </if>
      <if test="vavSize != null">
        VAV_SIZE,
      </if>
      <if test="pressureLevel != null">
        PRESSURE_LEVEL,
      </if>
      <if test="startCondi != null">
        START_CONDI,
      </if>
      <if test="maxDelpreStart != null">
        MAX_DELPRE_START,
      </if>
      <if test="userType != null">
        USER_TYPE,
      </if>
      <if test="installHeight != null">
        INSTALL_HEIGHT,
      </if>
      <if test="iniOpenLevel != null">
        INI_OPEN_LEVEL,
      </if>
      <if test="q != null">
        Q,
      </if>
      <if test="designPressure != null">
        DESIGN_PRESSURE,
      </if>
      <if test="vavOtherSize != null">
        VAV_OTHER_SIZE,
      </if>
      <if test="iniOpenlevelMin != null">
        INI_OPENLEVEL_MIN,
      </if>
      <if test="pressureWork != null">
        PRESSURE_WORK,
      </if>
      <if test="prewMaxDel != null">
        PREW_MAX_DEL,
      </if>
      <if test="nvavCount != null">
        NVAV_COUNT,
      </if>
      <if test="kAllOpen != null">
        K_ALL_OPEN,
      </if>
      <if test="vavSideS != null">
        VAV_SIDE_S,
      </if>
      <if test="note != null">
        NOTE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deviceCode != null">
        #{deviceCode,jdbcType=VARCHAR},
      </if>
      <if test="deviceName != null">
        #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="belongToPcode != null">
        #{belongToPcode,jdbcType=VARCHAR},
      </if>
      <if test="vavType != null">
        #{vavType,jdbcType=VARCHAR},
      </if>
      <if test="isOperate != null">
        #{isOperate,jdbcType=INTEGER},
      </if>
      <if test="stakeMark != null">
        #{stakeMark,jdbcType=DOUBLE},
      </if>
      <if test="vavWork != null">
        #{vavWork,jdbcType=VARCHAR},
      </if>
      <if test="vavSecIn != null">
        #{vavSecIn,jdbcType=VARCHAR},
      </if>
      <if test="lgtd != null">
        #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="vavSize != null">
        #{vavSize,jdbcType=DOUBLE},
      </if>
      <if test="pressureLevel != null">
        #{pressureLevel,jdbcType=DOUBLE},
      </if>
      <if test="startCondi != null">
        #{startCondi,jdbcType=VARCHAR},
      </if>
      <if test="maxDelpreStart != null">
        #{maxDelpreStart,jdbcType=DOUBLE},
      </if>
      <if test="userType != null">
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="installHeight != null">
        #{installHeight,jdbcType=DOUBLE},
      </if>
      <if test="iniOpenLevel != null">
        #{iniOpenLevel,jdbcType=DOUBLE},
      </if>
      <if test="q != null">
        #{q,jdbcType=DOUBLE},
      </if>
      <if test="designPressure != null">
        #{designPressure,jdbcType=DOUBLE},
      </if>
      <if test="vavOtherSize != null">
        #{vavOtherSize,jdbcType=DOUBLE},
      </if>
      <if test="iniOpenlevelMin != null">
        #{iniOpenlevelMin,jdbcType=DOUBLE},
      </if>
      <if test="pressureWork != null">
        #{pressureWork,jdbcType=VARCHAR},
      </if>
      <if test="prewMaxDel != null">
        #{prewMaxDel,jdbcType=DOUBLE},
      </if>
      <if test="nvavCount != null">
        #{nvavCount,jdbcType=INTEGER},
      </if>
      <if test="kAllOpen != null">
        #{kAllOpen,jdbcType=DOUBLE},
      </if>
      <if test="vavSideS != null">
        #{vavSideS,jdbcType=DOUBLE},
      </if>
      <if test="note != null">
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhwx.wms.entity.Valve">
    update prj_valve_b
    <set>
      <if test="deviceName != null">
        DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
      </if>
      <if test="belongToPcode != null">
        BELONG_TO_PCODE = #{belongToPcode,jdbcType=VARCHAR},
      </if>
      <if test="vavType != null">
        VAV_TYPE = #{vavType,jdbcType=VARCHAR},
      </if>
      <if test="isOperate != null">
        IS_OPERATE = #{isOperate,jdbcType=INTEGER},
      </if>
      <if test="stakeMark != null">
        STAKE_MARK = #{stakeMark,jdbcType=DOUBLE},
      </if>
      <if test="vavWork != null">
        VAV_WORK = #{vavWork,jdbcType=VARCHAR},
      </if>
      <if test="vavSecIn != null">
        VAV_SEC_IN = #{vavSecIn,jdbcType=VARCHAR},
      </if>
      <if test="lgtd != null">
        LGTD = #{lgtd,jdbcType=DOUBLE},
      </if>
      <if test="lttd != null">
        LTTD = #{lttd,jdbcType=DOUBLE},
      </if>
      <if test="vavSize != null">
        VAV_SIZE = #{vavSize,jdbcType=DOUBLE},
      </if>
      <if test="pressureLevel != null">
        PRESSURE_LEVEL = #{pressureLevel,jdbcType=DOUBLE},
      </if>
      <if test="startCondi != null">
        START_CONDI = #{startCondi,jdbcType=VARCHAR},
      </if>
      <if test="maxDelpreStart != null">
        MAX_DELPRE_START = #{maxDelpreStart,jdbcType=DOUBLE},
      </if>
      <if test="userType != null">
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="installHeight != null">
        INSTALL_HEIGHT = #{installHeight,jdbcType=DOUBLE},
      </if>
      <if test="iniOpenLevel != null">
        INI_OPEN_LEVEL = #{iniOpenLevel,jdbcType=DOUBLE},
      </if>
      <if test="q != null">
        Q = #{q,jdbcType=DOUBLE},
      </if>
      <if test="designPressure != null">
        DESIGN_PRESSURE = #{designPressure,jdbcType=DOUBLE},
      </if>
      <if test="vavOtherSize != null">
        VAV_OTHER_SIZE = #{vavOtherSize,jdbcType=DOUBLE},
      </if>
      <if test="iniOpenlevelMin != null">
        INI_OPENLEVEL_MIN = #{iniOpenlevelMin,jdbcType=DOUBLE},
      </if>
      <if test="pressureWork != null">
        PRESSURE_WORK = #{pressureWork,jdbcType=VARCHAR},
      </if>
      <if test="prewMaxDel != null">
        PREW_MAX_DEL = #{prewMaxDel,jdbcType=DOUBLE},
      </if>
      <if test="nvavCount != null">
        NVAV_COUNT = #{nvavCount,jdbcType=INTEGER},
      </if>
      <if test="kAllOpen != null">
        K_ALL_OPEN = #{kAllOpen,jdbcType=DOUBLE},
      </if>
      <if test="vavSideS != null">
        VAV_SIDE_S = #{vavSideS,jdbcType=DOUBLE},
      </if>
      <if test="note != null">
        NOTE = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhwx.wms.entity.Valve">
    update prj_valve_b
    set DEVICE_NAME = #{deviceName,jdbcType=VARCHAR},
      BELONG_TO_PCODE = #{belongToPcode,jdbcType=VARCHAR},
      VAV_TYPE = #{vavType,jdbcType=VARCHAR},
      IS_OPERATE = #{isOperate,jdbcType=INTEGER},
      STAKE_MARK = #{stakeMark,jdbcType=DOUBLE},
      VAV_WORK = #{vavWork,jdbcType=VARCHAR},
      VAV_SEC_IN = #{vavSecIn,jdbcType=VARCHAR},
      LGTD = #{lgtd,jdbcType=DOUBLE},
      LTTD = #{lttd,jdbcType=DOUBLE},
      VAV_SIZE = #{vavSize,jdbcType=DOUBLE},
      PRESSURE_LEVEL = #{pressureLevel,jdbcType=DOUBLE},
      START_CONDI = #{startCondi,jdbcType=VARCHAR},
      MAX_DELPRE_START = #{maxDelpreStart,jdbcType=DOUBLE},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      INSTALL_HEIGHT = #{installHeight,jdbcType=DOUBLE},
      INI_OPEN_LEVEL = #{iniOpenLevel,jdbcType=DOUBLE},
      Q = #{q,jdbcType=DOUBLE},
      DESIGN_PRESSURE = #{designPressure,jdbcType=DOUBLE},
      VAV_OTHER_SIZE = #{vavOtherSize,jdbcType=DOUBLE},
      INI_OPENLEVEL_MIN = #{iniOpenlevelMin,jdbcType=DOUBLE},
      PRESSURE_WORK = #{pressureWork,jdbcType=VARCHAR},
      PREW_MAX_DEL = #{prewMaxDel,jdbcType=DOUBLE},
      NVAV_COUNT = #{nvavCount,jdbcType=INTEGER},
      K_ALL_OPEN = #{kAllOpen,jdbcType=DOUBLE},
      VAV_SIDE_S = #{vavSideS,jdbcType=DOUBLE},
      NOTE = #{note,jdbcType=VARCHAR}
    where DEVICE_CODE = #{deviceCode,jdbcType=VARCHAR}
  </update>
</mapper>